[Unit]
Description=Point Cards WebSocket Server

[Service]
ExecStart=/usr/bin/node /home/jrjurman/point-cards/server/service.js
Restart=always
User=jrjurman
Group=jrjurman
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/jrjurman/point-cards

[Install]
WantedBy=multi-user.target
